[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections
retry_files_enabled = false
interpreter_python = auto_silent

[privilege_escalation]
become = true
